*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:#ffffff; 
}
.main{
	height:600px;
	position: relative;
	background-image:url(../img/1115912.jpg);		
	background-size: cover;
  	background-position: center;	
  	display: flex;
    justify-content: center;
    align-items: center;	
}
.quiz-main{
	border-radius: 20px;
	border: 6px solid #f89e1c;
	background: #fff;
	min-width: 400px;
    max-width: 720px;
    padding: 20px 20px 40px 20px;
    /* text-align: center; */
}
.quiz-correct{
	margin: 5px 0 20px 0;	
}
.miss{
	text-align:center;
	color:#0066CC;
	font-size:55px;
}
.answer{
	font-weight: bold;
	background: #D9E5FF;
	padding: 8px 16px;
	margin-bottom:20px;
	font-size:25px;
}
.bold{
	font-weight: bold;
	font-size:20px;
}
.explanation{
	font-size:18px;
	font-weight: bolder
}
.next{
	text-align:center;
	margin:70px 0 5px 0;
}
.quiz-btn1{
	margin:0 auto;
	display: inline-block;
	padding: 16px 32px;
	background: #0066CC;
	border-radius: 4px;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-heigt: 1.2em;
	-webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
	box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
	-webkit-transition: .12s;
	transition: .12s;
}
.quiz-btn1:hover {
	background: #ffffff;
	border: solid 2px #0066CC;
	color: #0066CC;
	opacity: 0.8;
}