<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RetryServlet</display-name>
    <servlet-name>RetryServlet</servlet-name>
    <servlet-class>servlet.RetryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetryServlet</servlet-name>
    <url-pattern>/servlet/RetryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishServlet</display-name>
    <servlet-name>FinishServlet</servlet-name>
    <servlet-class>servlet.FinishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishServlet</servlet-name>
    <url-pattern>/servlet/FinishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JudgeServlet</display-name>
    <servlet-name>JudgeServlet</servlet-name>
    <servlet-class>servlet.JudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeServlet</servlet-name>
    <url-pattern>/servlet/JudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/ShoppingCart/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>servlet.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>